.table_parent{
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
}


.dsr_report_table{
    display: grid;
    grid-template-columns: repeat(29,1fr);
    min-width: 3000px;
    width: 550%;
    background-color: #0B5345;
    color:white;
    text-align: center;
  }

.dsr_report_table >div{
    padding: 10px;
    border: 1px solid white;
    border-collapse: collapse;
}

#table_row{
    padding: 10px;
    border: 1px solid black;
    background-color: white;
}



.table_header-1{
    grid-column:3/12 ;
}
.table_header-2{
    grid-column:12/14 ;
}
.table_header-3{
    grid-column:14/15 ;
}
.table_header-4{
    grid-column: 15/19;
}
.table_header-5{
    grid-column: 19/23;
}
.table_header-6{
    grid-column: 23/27;
}
.table_header-7{
    grid-column: 27/28;
}
.table_header-8{
    grid-column: 28/30 ;
}


.table_header2-1{
    grid-column: 3/4;
}
.table_header2-2{
    grid-column: 4/5;
}
.table_header2-3{
    grid-column: 5/6;
}
.table_header2-4{
    grid-column: 6/8;
}
.table_header2-5{
    grid-column: 8/10;
}
.table_header2-6{
    grid-column: 10/12;
}
.table_header2-7{
    grid-column: 12/13;
}
.table_header2-8{
    grid-column: 13/14;
}
.table_header2-9{
    grid-column: 14/15;
}
.table_header2-10{
    grid-column: 15/17;
}
.table_header2-11{
    grid-column: 17/19;
}
.table_header2-12{
    grid-column: 19/21;
}
.table_header2-13{
    grid-column: 21/23;
}
.table_header2-14{
    grid-column: 23/25;
}
.table_header2-15{
    grid-column: 25/27;
}
.table_header2-16{
    grid-column: 27/28;
}
.table_header2-17{
    grid-column: 28/29;
}
.table_header2-18{
    grid-column: 29/30;
}

///////// Target vs Achivement 
.targetHeader > .col{
    border: 1px solid black;
}
table{
    width:400%;
    overflow-x: scroll;
}
th{
    text-align: center;
    background-color: #0B5345;
    padding:10px;
    color: white;    
}
td{
    border:1.5px solid black;
    border-collapse: collapse;
}
table,th{
    border: 1.5px solid white;
    border-collapse: collapse;
}
